/* webkit - scrollbar */
::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:0;
}
::-webkit-scrollbar{
    width:8px;
    height:8px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#999;
    -webkit-border-radius:4px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:4px;
}

/* animation */
@-webkit-keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(-20px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes fadeInUp{
    0%{
        opacity:0;
        -moz-transform:translateY(-20px)
    }
    100%{
        opacity:1;
        -moz-transform:translateY(0)
    }
}

/* Font-family */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(./font/400.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(./font/600.woff2) format('woff2');
}

a.post-title-link,
a.nav-list-link{
	position: relative;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
a.post-title-link::before,
a.nav-list-link::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #42b983;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}
a.post-title-link:hover::before,
a.nav-list-link.active::before,
a.nav-list-link:hover::before{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
a.prev .fa{
	margin-right: 10px;
}
a.next .fa{
	margin-left: 10px;
}
.paginator .fa{
	font-size: 12px;
}
.paginator.show{
    padding-top: 15px;
    border-top: 1px solid #d6d6d6;
}

body{
	position: relative;
	left: 0;
	transition: left .3s;
}
body.open{
	left: -150px;
}
body.scroll{
	overflow: hidden;
}

:focus {
    outline: 0!important
}

.mr3{
	margin-right:3px;
}

/* 左侧固定菜单 */
.menu{
	position: fixed;
    right: 3%;
    z-index: 1050;
    width: 15px;
    height: 13px;
    padding: 5px;
    background: #212121;
    color: #fff;
    cursor: pointer;
}
.show-menu{
	/* display: none; */
	bottom: 45px;
	line-height: 0;
}

.show-menu span{
	position: relative;
    display: block;
    vertical-align: top;
    height: 2px;
    width: 100%;
    background: #fff;
    margin-top: 3px;

    top: 0px;
    left: 0px;
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    transition: opacity, width, top, left, transform .3s;
    -webkit-transition: opacity, width, top, left, -webkit-transform .3s;
}
.show-menu .menu-line-first{
	margin-top: 0px;
}
.show-menu.hover:not(.open) .menu-line-first{
	width: 50%;
	top: 2px;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.show-menu.hover:not(.open) .menu-line-middle{
	width: 90%;
}
.show-menu.hover:not(.open) .menu-line-last{
	width: 50%;
	top: -2px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
} 

.show-menu.open .menu-line-first{
	top: 5px;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.show-menu.open .menu-line-middle{
	opacity: 0;
	width: 0;
}
.show-menu.open .menu-line-last{
	top: -5px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

/* 回到顶部 */
.back-to-top{
	display: none;
    bottom: 20px;
}
.back-to-top::before{
	display: block;
    content: " ";
    margin-top: 2px;
    width: 0;
    height: 0;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
}

/* 菜单容器 */
.menu-container{
	position: fixed;
	opacity: 0;
	right: 0;
	top: 0px;
	height: 100%;
	width: 0;
	background: #212121;
	transition: all .3s;
}
.menu-container.open{
	opacity: 1;
	width: 100%;	
}

/*  */
section.container{
	-webkit-animation:fadeInUp .5s .2s ease both;
	-moz-animation:fadeInUp .5s .2s ease both;
}


.post-time >span{
	margin-right: 5px;
}
.post-time .fa, .post-time a, .post-time .visitors >span{
	margin-left: 5px;
}
.post-time .fa-calendar{
	margin-left: 0;
	margin-right: 5px;
}
.post-time .fa-tags, .post-time .fa-eye{
	margin-left: 10px;
}

.footer{
	position: absolute;
	text-align: center;
    width: 100%;
    color: #999;
}
.footer .footer-inner .with-love{
	margin: 0px 3px 0px 6px;
}
.footer a{
	margin: 0 2px;
}
.footer .powered-by{
	margin-right: 10px;
}
.footer .powered-by:after{
	content: '|';
	padding-left: 10px;
}
.footer .powered-by, .footer .theme-info{
	display: inline-block;
}
.footer a.nav-list-link{
	color: #999;
	margin: 0 8px;
}

.smile-introduce{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    height: 50%;
    max-width: 400px;
}
.smile-introduce .fa{
	margin-right: 5px;
}
.smile-introduce .href, .smile-introduce .address{
	margin-top: 20px;
}
.smile-introduce .picture{
	position: relative;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;
}
.smile-introduce .picture img{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.quote{
	position: relative;
	margin-top: 18px;
    margin-bottom: 25px;
}
.quote p{
	margin: 0;
}
.quote p.source{
	margin-right: 15%;
	text-align: right;
}
.quote p.saying {
	padding: 10px 0;
}
.quote .fa-quote-left {
    top: -20px;
    left: 0;
}
.quote .fa-quote-right {
    bottom: -30px;
    right: 0;
}
.quote .fa {
    position: absolute;
    height: 24px;
}

.collection-title h2{
	margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983;
}
.archive{
	margin-top: 40px;
}
.archive .tip a{
	margin: 0 5px;
}
.archive-item{
	position: relative;
	margin-left: 30px;
	padding-left: 10px;
	font-size: 11px;
	border-bottom: 1px dashed #ccc;
	transition: border-bottom .3s;
}
.archive-item:hover{
	border-bottom: 1px dashed #666;
}
.archive-item:hover::before{
	background: #666;
}
.archive-item .time{
	position: absolute;
    top: 2px;
    font-size: 14px;
}
.archive-item h2{
	margin-bottom: 0px;
	margin-left: 40px;
}
.archive-item::before{
	content: " ";
    position: absolute;
    left: 0;
    top: 8.5px;
    width: 6px;
    height: 6px;
    margin-left: -4px;
    background: #bbb;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}