body{
	position: relative;
}
.mr3{
	margin-right:3px;
}
.post-time >span{
	margin-right: 5px;
}
.post-time .fa, .post-time a, .post-time .visitors >span{
	margin-left: 5px;
}
.post-time .fa-calendar{
	margin-left: 0;
	margin-right: 5px;
}
.post-time .fa-tags, .post-time .fa-eye{
	margin-left: 10px;
}

.footer{
	position: absolute;
	text-align: center;
    width: 100%;
    color: #999;
}
.footer .footer-inner span{
	margin-right: 5px;
}
.footer a{
	margin: 0 2px;
}
.footer .powered-by{
	margin-right: 10px;
}
.footer .powered-by:after{
	content: '|';
	padding-left: 10px;
}
.footer .powered-by, .footer .theme-info{
	display: inline-block;
}