/* webkit - scrollbar */
::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:0;
}
::-webkit-scrollbar{
    width:8px;
    height:8px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#999;
    -webkit-border-radius:4px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:4px;
}

/* animation */
@-webkit-keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(-20px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes fadeInUp{
    0%{
        opacity:0;
        -moz-transform:translateY(-20px)
    }
    100%{
        opacity:1;
        -moz-transform:translateY(0)
    }
}

body{
	position: relative;
}

:focus {
    outline: 0!important
}

.lazy{
	/* display: none; */
}

section.container{
	-webkit-animation:fadeInUp .5s .2s ease both;
	-moz-animation:fadeInUp .5s .2s ease both;
}

.mr3{
	margin-right:3px;
}

.post-time >span{
	margin-right: 5px;
}
.post-time .fa, .post-time a, .post-time .visitors >span{
	margin-left: 5px;
}
.post-time .fa-calendar{
	margin-left: 0;
	margin-right: 5px;
}
.post-time .fa-tags, .post-time .fa-eye{
	margin-left: 10px;
}

.footer{
	position: absolute;
	text-align: center;
    width: 100%;
    color: #999;
}
.footer .footer-inner span{
	margin-right: 5px;
}
.footer a{
	margin: 0 2px;
}
.footer .powered-by{
	margin-right: 10px;
}
.footer .powered-by:after{
	content: '|';
	padding-left: 10px;
}
.footer .powered-by, .footer .theme-info{
	display: inline-block;
}